<br>
<div class="sidebar">
  <div class="sidebar-item"><h1><%= link_to "Alex Davies", root_path(anchor:"title_section"), class: "nav-link" %></h1></div>
  <br>
  <div class="sidebar-item"><h6><%= link_to "Projects", root_path(anchor:"project_section"), class: "nav-link" %></h6></div>
  <br>
  <div class="sidebar-item"><h6><%= link_to "Contact", root_path(anchor:"contact_section"), class: "nav-link" %></h6></div>
</div>
