<br>
<div class="sidebar">
  <div class="sidebar-item"><a href="#title_section"><h1>Alex Davies</h1></a></div>
  <br>
  <div class="sidebar-item"><a href="#project_section"><h6>Projects</h6></a></div>
  <br>
  <div class="sidebar-item"><a href="#contact_section"><h6>Contact</h6></a></div>
</div>
