


<div class="main">
  <div class="landing">

    <div class="landing_text">
      <div class="landing_text_item"><h3><center>Full Stack web developer.</center></h3></div>
      <br>
      <div class="landing_text_item"><h3><center>Artist and educator.</center></h3></div>
      <br>
      <div class="landing_text_item"><h3><center>London.</center></h3></div>
    </div>
  </div>


  <div class="projects"><a id="project_section">
  <br>
    <div class="section_head">
      <div class="section_title"><h3><center>Projects</center></h3></a></div>
    </div>
    <div class="row">
        <% @projects.each do |p| %>
          <div class="col-23 col-md-6">
            <div class="project-card">
              <%= image_tag "#{p.image_url}", height: "400px" %>
              <br>
                <div class="project-card-text">
                <h5> <%= p.title %> </h5>
                <p> <%= p.description %></p>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <div class="contact"><a id="contact_section">
  <br>
    <div class="section_head">
      <div class="section_title"><h3><center>Contact</center></h3></a></div>
    </div>
    <div class="contact_body">
    <br>
    <br>
      <h4><center>For information and requests please get in touch by emailing <a href="mailto:alxdavies@gmail.com">alxdavies@gmail.com</a></center></h4>
    </div>

  </div>


</div>
