.project-card{
  padding: 15px;
  box-shadow: 2px 2px 12px -8px rgba(0, 0, 0, 0.48);
}

.project-card img{
  max-width: 100%;
  height: auto;
  overflow: hidden
}

.project-card-text{
  padding: 10px;
}
