.project-card{
  padding: 45px;
}

.project-card img{
  max-width: 100%;
  height: auto;
  overflow: hidden;
  box-shadow: 10px 10px 13px -3px rgba(224, 224, 224, 0.39);
}

.project-card-text{
  position: absolute;
    opacity: 1.0;
    background-color: rgb(250, 135, 210);
    box-shadow: 3px 3px 0px 0px rgba(30, 221, 136, 1);
    max-width: 180px;
    font-size: calc(0.75em + 1vmin);
    padding: 10px;
}
