.project-card{
  padding: 45px;
}

.project-card img{
  max-width: 100%;
  height: auto;
  overflow: hidden;
  box-shadow: 10px 10px 13px -3px rgba(224, 224, 224, 0.39);
}

.project-card-text{
  padding: 10px;
}
