.landing{
  background-image: "carousel_test_1.png";
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing_text{
//   display: flex;
//   // align-items: center;
  justify-content: center;
  background-color: $pink;
  padding: 50px;
  box-shadow: 10px 10px 0px 0px rgba(30, 221, 136, 1);
  max-width: 80%;
}

.landing_text_item{
  color: $white;
}
